/* Footer.css */
.footer {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
  }
  
  /* Header.css */
  .header {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
  }
  